@import "tailwindcss";

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: 'Switzer';
  src: url('../assets/fonts/Switzer-Regular.otf') format('truetype');
}

body {
  font-family: 'Switzer', sans-serif;
}

button {
 cursor: pointer;
}